---
layout: default
title: CA
permalink: /
---

<p>Hello, world! My name is Eric, and this is the online home for my writing. You can subscribe by adding my <a href="/feed/">atom feed</a> to your RSS reader of choice. For more about me, click through to my <a href="https://steinea.fyi">identity</a>, <a href="https://steinea.work">resume</a>, and <a href="https://steinea.xyz">garden</a>.</p>

<br>

{% assign sorted = site.pages | sort: "date" | reverse %}
{% for item in sorted %}
  {% if item.category contains "directory" %}
    {% assign directoryPage = item %}
    {% assign directorySlug = directoryPage.title | downcase | remove: ',' | replace: " ", "-" %}

      <div id="{{ directorySlug }}">
        <h4>{{ directoryPage.title }}</h4>
            {% for post in site.posts %}
              {% if post.subcategory contains directorySlug %}
                {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}">{{ post.title }}</a><br>
              {% endif %}
            {% endfor %}
      </div>

      <br>
  {% endif %}
{% endfor %}

<br>

<hr>


<h4>Colophon</h4>

{% include colophon.html %}
