---
layout: default
title: Eric Stein
permalink: /
---

<p><em><a href="/books/">Books!</a> <a href="/zines/">Zines!</a> <a href="/feed.xml">Subscribe!</a></em></p>

<br>

{% assign sorted = site.pages | sort: "date" | reverse %}
{% for item in sorted %}
  {% if item.category contains "directory" %}
    {% assign directoryPage = item %}
    {% assign directorySlug = directoryPage.title | downcase | remove: ',' | replace: " ", "-" %}

      <div id="{{ directorySlug }}">
        <h4>{{ directoryPage.title }}</h4>
            {% for post in site.posts %}
              {% if post.subcategory contains directorySlug %}
                {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}">{{ post.title }}</a><br>
              {% endif %}
            {% endfor %}
      </div>

      <br>
  {% endif %}
{% endfor %}

<br>

<hr>


<h4>Colophon</h4>

{% include colophon.html %}
